<%= form_with model: episode do |form| %>
  <div>
    <%= form.label :podcast_title %><br>
    <%= form.text_field :podcast_title %>
    <% episode.errors.full_messages_for(:podcast_title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% episode.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :episode_date %>
    <%= form.date_field :episode_date %>
    <% episode.errors.full_messages_for(:episode_date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :number %><br>
    <%= form.text_area :number %><br>
    <% episode.errors.full_messages_for(:number).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>