<h1><%= @episode.title %> - <%= @episode.number %> </h1>
<div>
	<%= link_to "Edit", edit_episode_path(@episode) %>
	<%= link_to "Destroy", episode_path(@episode), method: :delete, data: {confirm: "Are you sure?"} %>
</div>

<h2>topics</h2>
<%= render @episode.topics %>

<h2>Add a topic</h2>
<%= form_with model: [ @episode, @episode.topics.build ] do |form| %>
	<p>
		<%= form.label :name %> <br />
		<%= form.text_field :name %> <br />
	</p>
	<p>
		<%= form.label :timecode %>
		<%= form.text_field :timecode %>
	</p>
	<p>
		<%= form.label :description %>
		<%= form.text_field :description %>
	</p>
	<p><%=form.submit %></p>
<% end %>